<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - SVP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homeStyle.css') }}">
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="topnav" id="myTopnav">
        <h3 class="Logo">SVP</h3>
        <div class="myLink">
            <a style="text-decoration:none" href="{{ url_for('index') }}">Home</a>
            <a style="text-decoration:none" href="{{ url_for('aboutPage') }}">About</a>
            <a style="text-decoration:none" href="{{ url_for('contactPage') }}">Contact</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars" id="myIcon"></i>
            </a>
        </div>
    </div>

    <div class="mainBody" id="myMainBody">
        <div class="container" id = "containerNew">
            <h1 style="text-align: left;">About the SVP Project</h1>
            <p style="color: #fff; font-size: 18px; max-width: 700px; text-align: left;">
                The Student Verification Portal (SVP) is an identity verification system developed by the Computer Science Department of Petroleum Training Institute (PTI), Effurun. The system utilizes QR code technology to simplify and secure the process of authenticating student identity in academic and administrative operations.
            </p>
        </div>
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
            if (document.getElementById("myIcon").className == "fa fa-bars") {
                document.getElementById("myIcon").className = "fa fa-times";
            } else {
                document.getElementById("myIcon").className = "fa fa-bars";
            }
        }
    </script>
</body>
</html>
